body {
	font-family: 'Poppins', sans-serif;
}

img {
	max-width: 100%;
    height: auto;
}

.h-object-fit {
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: block;
}
.h-object-fit > img {
	position: absolute;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    height: auto;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: none;
    max-width: none;
    height: 100%;
}

.header {
	position: relative;
	z-index: 1;
	background-color: #b35d6d;
	box-shadow: 0px 1px 3px 0px #000;
}

.header__wrap {
	display: flex;
	align-items: center;
}

.header__logo {
	display: flex;
	margin-right: 30px;
	flex-shrink: 0;
	max-width: 80px;
	max-height: 40px;
}

.navigation__list {
	display: flex;
	align-items: center;
}

.navigation__list li a {
	display: block;
	font-weight: 600;
	color: #fff;
	font-size: 16px;
	padding: 20px 18px;
	transition: background-color 0.3s ease;
}

.navigation__list li a:hover {
	text-decoration: none;
	background-color: #695059;
}

.h-reset-list {
	padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

.main-banner {
	position: relative;
	padding: 100px 0 140px;
}

.main-banner__slider {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.main-banner__slider-img {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	filter: blur(3px);
}

.main-banner__slider-img:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.3;
	z-index: 1;
}

.main-banner__cont {
	position: relative;
	color: #fff;
	pointer-events: none;
}

.main-banner__cont h1 {
	margin-bottom: 20px;
}

.h1 {
	font-weight: 700;
}

.h1_decor {
	position: relative;
	padding-bottom: 20px;
}

.h1_decor:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 120px;
	height: 2px;
	background-color: #b35d6d;
}

.slick-list,
.slick-track {
	height: 100%;
}
